@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-size: 1rem;
}

@font-face{  
   font-family: Candarab;  
   src: url('../fonts/candarab.eot'); /* For IE */ 
   src: local('candarab'), url('../fonts/candarab.ttf') format('truetype'); /* For non-IE */ 
}  

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 1rem;
	height: 100%;
	widows: 100%;
	background: #000000;
	font-family: Candarab;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
   	font-weight: normal;
	color:#FF6;
}

.clear {
	clear: both;
	display: block;
}

h1 {
	text-transform: uppercase;
	font-size:1.4rem;
	font-weight:bold;
	padding: 0 0 .4rem 0;
}

h2 {
	text-transform: uppercase;
	font-size:1rem;
	font-weight:bold;
	padding: 0 0 .05rem 0;
}

a, a[href^="mailto"] {
	color:inherit;
	text-decoration-style: none;
	text-decoration-line: none;
}

.italic {
	font-style:italic;
}

div#header {
	overflow: hidden;
	height: 5rem;
	background-color: #000000;
	color: #a8cde9; 
	width: 100%;
	display: block;
	z-index: 9000;
}

div#header ul#top-banner {
	white-space: nowrap;
}

div#header ul#top-banner li {
	display: inline-block;
	margin-top: calc(.35rem + (.42 - .35) * (100vw - 20rem) / (50 - 20));
	height: 4rem;
	vertical-align: top;
}

div#header ul#top-banner li#logo {
	background-image: url(../icons/wuweiworld-logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 4rem;
	height: 4rem;
	margin-left: calc(1rem + (2 - 1) * (100vw - 20rem) / (50 - 20));
}

div#header:hover {
	background-color: #ffffff;
	color:#469ddf;
}

div#header:active {
	background-color: #000000;
	color: #a8cde9; 
}


a:hover div#header ul#top-banner li#logo {
	background-image: url(../icons/wuweiworld-logo-hover.png);
}

a:active div#header ul#top-banner li#logo {
	background-image: url(../icons/wuweiworld-logo.png);
}

div#header ul#top-banner li#title-container {
	margin-left: 8px;
	margin-top:12px;
	height: 4rem;
}

div#header ul#top-banner li#title-container p.header-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.1rem;
}

div#header ul#top-banner li#title-container p.header-subtitle {
	font-size: 1rem;
	font-weight: bold;
	margin-top: -5px;
	margin-left: 2px;
}

div#slideshow-container {
	overflow: hidden;
	width: 100%;
	position: relative;
	padding-bottom: 48%;
}


div#whoami {
	margin-left: -125px; 
	width:250px;
	z-index: 5000;
	background-color: #000000;
	overflow: hidden;
	text-align: center;
	position:absolute;
	left:50%;
	bottom:10px;
}

a div#whoami h1 {
	color: #dddf46;
	background: none;
	border: none;
	text-decoration:underline;
	text-decoration-style:solid;
	display: block;
	line-height: 1rem;
	height: 1rem;
	font-weight: bold;
}

a div#whoami:hover h1 {
	background-color: #ffffff;
	color:#469ddf;
}

a div#whoami:active h1 {
	background-color: #000000;
	color: #dddf46;
}


div#slideshow-container h1 {
	padding-top: 10px;
	overflow: hidden;
	z-index: 5000;
}


div#slideshow-container div#slides img {
	overflow: hidden;
	display: block;
	position: absolute;
	margin: auto;
	height: auto;
    width: 100%;
	top:0;
	left:0;
	z-index: -10000;
}

div#slides {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
    z-index: 5000;
}



div#slideshow-container .fadein {
    -webkit-animation-name: fadein;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 64s;
    animation-name: fadein;
    animation-iteration-count: infinite;
    animation-duration: 64s;
}

@-webkit-keyframes fadein {
  0% {opacity:1;}
  6.25% {opacity:1;}
  25% {opacity:0;}
  87.5% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadein {
  0% {opacity:1;}
  6.25% {opacity:1;}
  25% {opacity:0;}
  87.5% {opacity:0;}
  100% {opacity:1;}
}

#f1 {
	-webkit-animation-delay: 48s;
}

#f2 {
     -webkit-animation-delay: 32s;
}

#f3 {
	 -webkit-animation-delay: 16s;
}

#f4 {
	-webkit-animation-delay: 0s;
}

div#content {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 30rem;
	background-color: black;
	color: #ffffff;
	font-size: .9rem;
	line-height: 1.2rem;
	padding: 1rem;
}


div#content p {
	margin-bottom: 1rem;
	text-align:center;
}

div#content a {
	text-decoration: underline;
	color: #dddf46;
}

div#content a:hover {
	color:#469ddf;
}

div#content a:active {
	color: #dddf46;
}

div#footer {
	overflow: hidden;
	height: 8%;
	width: 100%;
	background: #000;
	color: #a8cde9; 
	padding: .5rem 0 0 0;
	margin: 0;
	min-width: 200px;
	min-height: 50px;
	display: block;
	z-index: 9000;
	font-size: .6rem;
}

div#footer:hover {
	cursor: default;
}

div#footer #footer-info {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 500px;
	text-align: center;
}

div#footer a:link, div#footer a:visited, div#footer a:hover, div#footer a:active  {
	color:inherit;
	text-decoration: none;
}

span.small {	
	font-size: .8rem;
}

div#footer ul#social-icons li {
	width: 2rem;
	margin-right: .4rem;
	display: inline-block;
}

div#footer ul#social-icons li.icon-mail {
	content: url(../icons/icon-mail.svg);
}

div#footer ul#social-icons li.icon-mail:hover{
	content: url(../icons/icon-mail-hover.svg);
}

div#footer ul#social-icons li.icon-mail:active {
	content: url(../icons/icon-mail.svg);	
}

div#footer ul#social-icons li.icon-instagram {
	content: url(../icons/icon-ins.svg);
}

div#footer ul#social-icons li.icon-instagram:hover {
	content: url(../icons/icon-ins-hover.svg);
}

div#footer ul#social-icons li.icon-instagram:active {
	content: url(../icons/icon-ins.svg);
}


span.highlight {
	color: #a8cde9; 
}

span.big-highlight {
	font-size:1.1rem;
	font-style: italic;
}




