@charset "UTF-8";
/* CSS Document */


@media only screen and (max-width : 33rem) {
	div#content {
    width: 80%;
  }
}

@media only screen and (min-width : 25rem) {
	div#content {
    width: 50%;
	max-width: 30rem;
  }
}


/*iPhone 6, 7, & 8 */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 2.6rem;
		line-height: 3rem;
		padding: 1.5rem;
		width: 80%;
		max-width: 80%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:3.2rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#whoami {
		margin-left: -30%; 
		width: 60%;
		z-index: 5000;
		left:50%;
		bottom:15px;
	}
	a div#whoami h1 {
		font-size: 3em;
		line-height: 3rem;
		height: 3rem;
	}
	div#footer {
		font-size: 2rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 5rem;
		margin-right: 1rem;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 2.6rem;
		line-height: 3rem;
		padding: 1.5rem;
		width: 80%;
		max-width: 80%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:3.2rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#whoami {
		margin-left: -30%; 
		width:60%;
		z-index: 5000;
		left:50%;
		bottom:15px;
	}
	a div#whoami h1 {
		font-size: 3em;
		line-height: 3rem;
		height: 3rem;
	}
	div#footer {
		font-size: 2rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 5rem;
		margin-right: 1rem;
	}
}
	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 2.6rem;
		line-height: 3rem;
		padding: 1.5rem;
		width: 80%;
		max-width: 80%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:3.2rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#whoami {
		margin-left: -30%; 
		width: 60%;
		z-index: 5000;
		left:50%;
		bottom:15px;
	}
	a div#whoami h1 {
		font-size: 3em;
		line-height: 3rem;
		height: 3rem;
	}
	div#footer {
		font-size: 2rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 5rem;
		margin-right: 1rem;
	}
}
	
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 2.6rem;
		line-height: 3rem;
		padding: 1.5rem;
		width: 80%;
		max-width: 80%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:3.2rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#whoami {
		margin-left: -30%; 
		width: 60%;
		z-index: 5000;
		left:50%;
		bottom:15px;
	}
	a div#whoami h1 {
		font-size: 3em;
		line-height: 3rem;
		height: 3rem;
	}
	div#footer {
		font-size: 2rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 5rem;
		margin-right: 1rem;
	}
}
	
@media screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 2.6rem;
		line-height: 3rem;
		padding: 1.5rem;
		width: 80%;
		max-width: 80%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:3.2rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#whoami {
		margin-left: -30%; 
		width: 60%;
		z-index: 5000;
		left:50%;
		bottom:15px;
	}
	a div#whoami h1 {
		font-size: 3em;
		line-height: 3rem;
		height: 3rem;
	}
	div#footer {
		font-size: 2rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 5rem;
		margin-right: 1rem;
	}
}
	
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 2.6rem;
		line-height: 3rem;
		padding: 1.5rem;
		width: 80%;
		max-width: 80%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:3.2rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#whoami {
		margin-left: -30%; 
		width: 60%;
		z-index: 5000;
		left:50%;
		bottom:15px;
	}
	a div#whoami h1 {
		font-size: 3em;
		line-height: 3rem;
		height: 3rem;
	}
	div#footer {
		font-size: 2rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 5rem;
		margin-right: 1rem;
	}
}









@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)
and (orientation : landscape) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 1.5rem;
		width: 70%;
		max-width: 70%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:2.1rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#footer {
		font-size: .8rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 4rem;
		margin-right: .8rem;
	}
}
	
	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : landscape) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 1.5rem;
		width: 70%;
		max-width: 70%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:2.1rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#footer {
		font-size: .8rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 4rem;
		margin-right: .8rem;
	}
}
	
	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : landscape) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 1.5rem;
		width: 70%;
		max-width: 70%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:2.1rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#footer {
		font-size: .8rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 4rem;
		margin-right: .8rem;
	}
}
	
	
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation : landscape) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 1.5rem;
		width: 70%;
		max-width: 70%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:2.1rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#footer {
		font-size: .8rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 4rem;
		margin-right: .8rem;
	}
}
	
	
@media screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
and (orientation : landscape) {
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 1.5rem;
		width: 70%;
		max-width: 70%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:2.1rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#footer {
		font-size: .8rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 4rem;
		margin-right: .8rem;
	}
}
	
	
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 
	div#content {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 1.5rem;
		width: 70%;
		max-width: 70%;
	}
	div#content p {
		margin-bottom: 2rem;
	}	
	span.big-highlight {
		font-size:2.1rem;
		font-style: italic;
	}
	div#header ul#top-banner li#logo {
		width: 8rem;
		height: 8rem;
	}
	div#header ul#top-banner li#title-container {
		margin-left: 20px;
	}
	div#header ul#top-banner li#title-container p.header-title {
		font-size: 6rem;
		line-height: 5rem;
		margin-top: .6rem;
	}
	div#header ul#top-banner li#title-container p.header-subtitle {
		font-size: 2rem;
	}
	div#header {
		height: 9rem;
	}
	div#footer {
		font-size: .8rem;
		min-height: 6rem;
	}
	div#footer ul#social-icons li {
		width: 4rem;
		margin-right: .8rem;
	}
}



